*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 141, 13);
}
.aboutme{
    background-color: cadetblue;
    width: 300px;


    height: 470px;
border-radius: 13px;

}
.islomov{
    position: relative;
    top: -455px;
    left: 350px;
}
.pagination1{
    position: relative;
    top: -200px;
    left: 50%;

}